In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from datetime import datetime, date, time

In [38]:
plant1_g = pd.read_csv('/Users/jacksonhamilton/Downloads/archive/Plant_1_Generation_Data.csv')
plant1_w = pd.read_csv('/Users/jacksonhamilton/Downloads/archive/Plant_1_Weather_Sensor_Data.csv')
plant2_g = pd.read_csv('/Users/jacksonhamilton/Downloads/archive/Plant_2_Generation_Data.csv')
plant2_w = pd.read_csv('/Users/jacksonhamilton/Downloads/archive/Plant_2_Weather_Sensor_Data.csv')

In [39]:
plant1_g.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0

In [40]:
plant2_g.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,2020-05-15 00:00:00,4136001,4UPUqMRk7TRMgml,0.0,0.0,9425.000000,2.429011e+06
1,2020-05-15 00:00:00,4136001,81aHJ1q11NBPMrL,0.0,0.0,0.000000,1.215279e+09
2,2020-05-15 00:00:00,4136001,9kRcWv60rDACzjR,0.0,0.0,3075.333333,2.247720e+09
3,2020-05-15 00:00:00,4136001,Et9kgGMDl729KT4,0.0,0.0,269.933333,1.704250e+06
4,2020-05-15 00:00:00,4136001,IQ2d7wF4YD8zU1Q,0.0,0.0,3177.000000,1.994153e+07

In [41]:
print("plant 1 information:")
plant1_g.info()

plant 1 information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68778 entries, 0 to 68777
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    68778 non-null  object
 1   PLANT_ID     68778 non-null  int64
 2   SOURCE_KEY   68778 non-null  object
 3   DC_POWER     68778 non-null  float64
 4   AC_POWER     68778 non-null  float64
 5   DAILY_YIELD  68778 non-null  float64
 6   TOTAL_YIELD  68778 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.7+ MB

In [42]:
print("plant 2 information:")
plant2_g.info()

plant 2 information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67698 entries, 0 to 67697
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    67698 non-null  object
 1   PLANT_ID     67698 non-null  int64
 2   SOURCE_KEY   67698 non-null  object
 3   DC_POWER     67698 non-null  float64
 4   AC_POWER     67698 non-null  float64
 5   DAILY_YIELD  67698 non-null  float64
 6   TOTAL_YIELD  67698 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.6+ MB

In [43]:
print(plant1_g.isnull().sum())

DATE_TIME      0
PLANT_ID       0
SOURCE_KEY     0
DC_POWER       0
AC_POWER       0
DAILY_YIELD    0
TOTAL_YIELD    0
dtype: int64

In [44]:
print(plant2_g.isnull().sum())

DATE_TIME      0
PLANT_ID       0
SOURCE_KEY     0
DC_POWER       0
AC_POWER       0
DAILY_YIELD    0
TOTAL_YIELD    0
dtype: int64

In [45]:
print(str(plant1_g['SOURCE_KEY'].nunique()))

22

In [53]:
plant1_g['DATE'] = [datetime.strftime(i, format = '%d-%m-%Y') for i in pd.to_datetime(plant1_g['DATE_TIME'])]
plant1_w['DATE'] = [datetime.strftime(i, format = '%Y-%m-%d') for i in pd.to_datetime(plant1_w['DATE_TIME'])]
plant2_g['DATE'] = [datetime.strftime(i, format = '%Y-%m-%d') for i in pd.to_datetime(plant2_g['DATE_TIME'])]
plant2_w['DATE'] = [datetime.strftime(i, format = '%Y-%m-%d') for i in pd.to_datetime(plant2_w['DATE_TIME'])]

In [54]:
plant1_g['DATE'] = pd.to_datetime(plant1_g['DATE'])
plant1_w['DATE'] = pd.to_datetime(plant1_w['DATE'])
plant2_g['DATE'] = pd.to_datetime(plant2_g['DATE'])
plant2_w['DATE'] = pd.to_datetime(plant2_w['DATE'])

In [55]:
plant1_g.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,DATE
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,2020-05-15
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0,2020-05-15
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0,2020-05-15
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0,2020-05-15
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0,2020-05-15

In [57]:
print(plant1_g['DATE'].nunique())

34